animal-runway.json
{
  "name": "animal-runway",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "825aafe7-4501-47ac-9e7e-86f400cdf88b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fa7672d-2d9f-400a-aa40-8b3b2301df64",
              "name": "countries",
              "value": "[\"Spain\", \"Thailand\", \"Korea\", \"Germany\", \"Mexico\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0c0c9f31-5d1f-4518-a916-63b2d7bd0ce6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "countries",
        "options": {
          "destinationFieldName": "country"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "2086558c-d8db-4579-8222-1d8aec82228a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please tell me what is the national animal of  {{ $json.country }} and describe to me the national traditional outfit of {{ $json.country }} for both men and women.\n\nGo to the point, do not be verbose.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "7c33565c-6462-4a31-bae4-2d7677506796",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        208
      ],
      "id": "6fc9c282-c331-47ea-a0cf-1d60093b29c8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Zzf6GhTFYDQZkBZa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"country\": \"Spain\",\n\t\"animal\": \"White Tiger\",\n\t\"outfit\": \"White robe withn green and yellow colors in the neck....\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        208
      ],
      "id": "5d034a76-47cf-4829-bf86-36d6fa810664",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e4f030f3-3319-40e2-a725-b8800abc9db6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7d4431609307ce85e4789089295262ee5d2dbebee0e24a6883758a2829b17b1"
  },
  "id": "5d2pS8l7fCvCgsrI",
  "tags": []
}