animal-runway.json
{
  "name": "animal-runway",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "825aafe7-4501-47ac-9e7e-86f400cdf88b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "countries",
        "options": {
          "destinationFieldName": "country"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "2086558c-d8db-4579-8222-1d8aec82228a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please tell me what is the national animal of  {{ $json.country }} and describe to me the national traditional outfit of {{ $json.country }} for both men and women.\n\nGo to the point, do not be verbose.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "7c33565c-6462-4a31-bae4-2d7677506796",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        208
      ],
      "id": "6fc9c282-c331-47ea-a0cf-1d60093b29c8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Zzf6GhTFYDQZkBZa",
          "name": "openai-api-keys-n8n-animal-runway"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"country\": \"Spain\",\n\t\"animal\": \"White Tiger\",\n\t\"outfit\": \"White robe withn green and yellow colors in the neck....\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        208
      ],
      "id": "5d034a76-47cf-4829-bf86-36d6fa810664",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "={{ $json.output[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        -112
      ],
      "id": "fe7d2e3e-4025-494f-87e0-98be133de241",
      "name": "download images"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/bytedance/seedream-4/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"size\": \"4K\",\n    \"width\": 2048,\n    \"height\": 2048,\n    \"prompt\": \"Cinematic photographic image, lifelike and natural lighting. A towering anthropomorphic {{ $json.output.animal }} with a massively powerful physique, broad shoulders, thick defined musculature and heroic proportions, walking upright like a royal guardian with confident human-like posture. It is dressed in ornate traditional male {{ $json.output.country }} ceremonial attire {{ $json.output.outfit }} tailored to its large, imposing build, using a color palette that clearly reflects {{ $json.output.country }} culture, conveying regal strength and presence. Beside it walks a stunning human noblewoman from {{ $json.output.country }} with a beautifully defined face and refined features, confident expression, realistic skin texture, expressive eyes, and natural flowing hair. She wears a luxurious, form-fitting traditional {{ $json.output.country }} gown designed to emphasize her feminine curves while remaining elegant and dignified, combining elegance and allure - rich fabrics, tasteful neckline, coordinated jewelry, glamorous but refined appearance. Both characters are fully visible: full-body shot, centered, walking forward together in synchronised stride, the {{ $json.output.animal }} protective beside her, its size and strength subtly shielding her. Location: a grand palace interior or ceremonial hall, with ornate architectural details, carved walls, impressive columns, chandeliers or culturally appropriate lighting fixtures, polished marble or ceremonial flooring, warm golden light, refined atmosphere. Photography style: realistic editorial fashion shot, premium beauty focus on the noblewoman's face and presence, crisp detail, natural reflections, clean composition.\",\n    \"max_images\": 1,\n    \"image_input\": [],\n    \"aspect_ratio\": \"9:16\",\n    \"enhance_prompt\": true,\n    \"sequential_image_generation\": \"disabled\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        0
      ],
      "id": "3520fb7b-8c56-4948-90f3-d10cba195737",
      "name": "Seedream4",
      "credentials": {
        "httpBearerAuth": {
          "id": "SZwh1X0P01TTi5Ro",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fa7672d-2d9f-400a-aa40-8b3b2301df64",
              "name": "countries",
              "value": "[\"Korea\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0c0c9f31-5d1f-4518-a916-63b2d7bd0ce6",
      "name": "Countries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/bytedance/seedance-1-pro/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"fps\": 24,\n    \"image\": \"{{ $json.output[0] }}\",\n      \"prompt\": \"The couple stand in a grand palace hall and are walking forward at a very slow, confident, ceremonial pace, almost like slow motion. They walk straight toward the camera in a steady, graceful manner, with elegant posture. They do NOT look at the camera; instead, their gaze moves slightly around the environment, as if entering an important royal event or ballroom filled with people. The noblewoman's face remains perfectly composed and steady, with no sudden movements or exaggerated expressions. The animal maintains a dignified, controlled walk, matching the rhythm of the noblewoman while keeping a formal and respectful distance. Their clothing moves subtly with each step, showing realistic weight and fabric motion. The lighting is dramatic and warm, with reflections from chandeliers and polished marble floors, matching the palace environment in the image. Ultra-smooth camera motion, cinematic depth of field.\"\n    ,\n    \"duration\": 5,\n    \"resolution\": \"720p\",\n    \"aspect_ratio\": \"9:16\",\n    \"camera_fixed\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1168,
        48
      ],
      "id": "d7604944-f76d-4c3d-8a5d-8f9a0bd04ab2",
      "name": "Seedance",
      "credentials": {
        "httpBearerAuth": {
          "id": "SZwh1X0P01TTi5Ro",
          "name": "REPLICATE_API_TOKEN"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        48
      ],
      "id": "3d12097a-2a31-40c5-8f62-1f25bda031cb",
      "name": "Download videos"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Countries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Seedream4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seedream4": {
      "main": [
        [
          {
            "node": "download images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Seedance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Countries": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seedance": {
      "main": [
        [
          {
            "node": "Download videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3e54a273-5f42-41c9-a376-b11983f43d95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7d4431609307ce85e4789089295262ee5d2dbebee0e24a6883758a2829b17b1"
  },
  "id": "5d2pS8l7fCvCgsrI",
  "tags": []
}